<div class="container">
<h3><%= @author.first_name%>, <%=@author.last_name%></h3>
<h4> Email: <a href="mailto:<%=@author.email%>"><%= @author.email%></a></h4>
<h5><%= @author.description%></h5>
</div>