<div class="container">

    <div class="row">
        <div class="col-sm-12">
        <h1> Gossips Project with Ruby on Rails</h1>
        <br>
        <h2> Cher visiteur 😊 <br> bienvenu sur notre site de Gossips Project</h2>
        <br><br>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
    <div class="card-deck mb-3 text-center">
        <div class="col-la-3">
            <% @gossips.each do |list|%>
                <div class="card border-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                    <h5> <%= list.user.first_name%>, <%= list.user.last_name%> </h5>
                    </div>
                        <div class="card-body text-danger">
                        <p class="card-text"><%= list.title %></p>
                        <%= link_to "Page du gossip", "gossips/show/#{list.id}", class:"btn btn-primary" %>
                        </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
</div>



<%= link_to "Create a new gossip!", new_gossip_path, :class => "btn btn-dark btn-lg btn-block", :role => "button", :style => "margin-bottom: 5vh" %>

<% @gossips.each do |gossip| %>

	<div class="card" style="margin-bottom: 2vh">
		<div class="card-body">
			<h4 class="card-title font-weight-bold playfair-relative"> <%= gossip.title.capitalize %> <span class="badge badge-info badgecustom"><%= Comment.where(gossip: gossip.id).count %> <span style="font-size: .8em">💬</span></span></h4>
			<div class="row">
				<div class="col">
					<p class="card-text"> <%= User.find(gossip.user_id).first_name %></p>
				</div>

				<div class="col text-right">
					<%= link_to "Read more about the gossip ##{gossip.id}", gossip_path(gossip.id), :class => "btn btn-outline-dark" %>
				</div>
			</div>
		</div>
	</div>

<% end %>